body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-kerning: none;
}

header{
    background-color: aquamarine;
}

#lex-text {
    font-display: none;
}

a {
    text-decoration: none;
}

nav > div > ul {
    display: flex;
    justify-content: center; 
}

nav > div > ul > li{
    transition: background-color 0.5s ease-out 200ms;
}

nav > div > ul > li:hover{
    background-color: teal;
}

nav > div > ul > li > a:hover{
    color: white;
    transition: color 0.5s ease-out 200ms;
}

ul > li {
    list-style-type: none;
}


footer > div {
    display: flex;
    justify-content: center;
}